html {
  height: 100%;
}
body {
  min-height: 100%;
}

.home_image {
      text-align: center;
      background-image:  url("../assets/homePicture.jpg");
        /* Full height */
    height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

