
.Calendar{
    flex: 5;
    padding-left: 5%;
}
h1{
    color: #6C7A89
  }
  
  #Calendar {

    margin: auto;
    margin-top:50px;
    margin-bottom: 50px;
    /* background: yellow; */
  }
  
  .rbc-month-view{
    flex-basis: 500px !important;
  }
  
  .rbc-toolbar-label {
    font-weight: bold;
    font-size: 22px;
    color: #6C7A89
  }
  
  .rbc-date-cell {
    color: rgb(228, 174, 230);
  }
  
  .rbc-today {
    background-color: rgb(196, 205, 212) !important;
  }
  
  @media (max-width: 480px) {
    .rbc-toolbar {
      display: block !important;
    }
  }